node_modules
.git
.azure_config
.env
.next
out
build
dist
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode
.idea
.DS_Store
Dockerfile
Dockerfile.worker
docker-compose.yml
scripts
README.md
